.mk-attachment-popover {
    .ant-popover-title {
        text-align: center;
    }
    .ant-popover-inner-content {
        padding: 0px;
    }
}

.mk-attachment-content {
    width: 250px;
    height: 170px;
    display: flex;
    flex-direction: column;
    .mk-datagrid-cellContent-left {
        padding-left: 10px;
    }
    .fixedDataTableCellLayout_main {
        border-bottom-style: dashed;
        border-width: 0 0 1px 0;
    }
    &-link-cell {
        justify-content: flex-start;
        padding-left: 10px;
    }
    &-footer {
        flex: 0 0 35px;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        .anticon {
            margin-right: 4px;
        }
    }
}

.react-viewer-mask {
    z-index: 99991 !important
}

.react-viewer-close {
    z-index: 99995 !important
}

.react-viewer-canvas {
    z-index: 99993 !important
}

.react-viewer-footer {
    z-index: 99994 !important
}